@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@600&display=swap');

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}



body{
    background:#1E1E1E;
	display:flex;
	justify-content:center;
	
}

.wrapper{
	width:100% ;
	background: #1D1E22;
}


header{
	display: flex;
	justify-content:center;
}

.header_container{
	padding: 0 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
	max-width:1200px;
	width:100%;
	box-sizing:content-box;
	background: #1D1E22;
	
	
}

.content_logo{
	display: flex;
	flex-direction: row;
	align-items: center;
	
	width: 100%;

}


.content_logo img{
	max-width:120px;
	width:100%;
}

.content_logo span{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}

.public{
	display: flex;
	justify-content: space-between;
	max-width:250px;
	width: 100%;

}

.public img{
	width:40px;
	transition:all 0.3s;
}

.public img:hover{
	transform: translateY(-5px);
}


@media(max-width:550px){
	.content_logo{
		
		width: 20%;
	
	}
	.content_logo span{
		
		display:none;
	
	}
	
}

@media(max-width:470px){
	.public{
		
		max-width:150px;
		
	
	}
	
	.content_logo{
		
		width: 40%;
	
	}
	.public img{
		width:30px
	}
	
}
/* /////////////////////////////// */
.line{
	height: 3px;
	left: 0px;
	top: 112px;
	background: rgba(255, 255, 255, 0.02);
	backdrop-filter: blur(6px);
	}

/* /////////////////////////////// */

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero_container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 15px;
	box-sizing:content-box;
	margin-top: 36px;
	background: #1D1E22;
}


.info_me{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width:40%;
	text-align: center;
}

.img_me img{
	width:0%;
	max-width:535px;
	border-radius: 30px;
	transition:all 1s;
}

.img_me img.active{
	width: 100%;
}



@media(max-width:923px){
	.hero_container{
		justify-content: center;
	}
	.info_me{
		
		margin-bottom: 20px;
		width: 100%;
	}
	
}

.hello{
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 29px;
	color: rgba(255, 255, 255, 0.5);
}

.name{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
}


.job{
	margin-top: 10px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 53px;	
	color: #FF8E5E;
}

.ask_me{
	margin-top: 15px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	color: #FFFFFF;
}

.button{
	margin-top: 10px;
	padding: 20px 60px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #1D1E22;
	background: #FF8E5E;
	border-radius: 60px;
	transition:all 0.3s ease;
}

.button:hover{
	background: #e45f26;
}

/* /////////////////////////////// */

.line_skils{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items:center;
	width: 5%;
	opacity: 0;
	height: 60px;
	background: #FFFFFF;
	transform: rotate(-0.99deg);
	transition: all 1s;
}

.line_skils.active{
	width: 100%;
	opacity: 1;
}

.skils_item{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 19px;
	line-height: 23px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #1D1E22;
	transform: rotate(-0.99deg);
}

.orange{
	margin-top: 10px;
	align-self: center;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	color: #FF8E5E;
	transform: rotate(-0.99deg);
}

@media(max-width:933px){
	.skils_item{
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 0.03em;
	}
	
	.orange{
		
		font-size: 24px;
		line-height: 32px;
		
	}
}

@media(max-width:740px){
	.skils_item{
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.03em;
	}
	
	.orange{
		margin-top: 5px;
		font-size: 20px;
		line-height: 22px;
		
	}
}

@media(max-width:560px){
	.skils_item{
		font-size: 8px;
		line-height: 14px;
		letter-spacing: 0.03em;
	}
	
	.orange{
		margin-top: 5px;
		font-size: 15px;
		line-height: 22px;
		
	}
}
/* /////////////////////////////// */

.about{
	padding-top: 115px;
	display: flex;
	justify-content:center;
	background: #1D1E22;
}

.about_container{
	max-width: 100%;
	width: 100%;
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
	opacity: 0;
	padding: 0 15px;
	box-sizing:content-box;
	transition:all 1s;
}

.about_me{
	margin-top: 15px;
	max-width:550px;
	
	
}

.about_container.active{
	max-width: 1200px;
	opacity: 1;
}

.heading_about{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 45px;
	line-height: 54px;

	color: #ffffff;
	margin-bottom: 10px;
}
.span_orange{
	color: #FF8E5E;
}

.description{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #FFFFFF;
}



.technologies{
	margin-top: 33px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
	/* identical to box height, or 160% */

	text-transform: capitalize;

	color: #FFFFFF;
}

.technologies_items{
	margin-top: 10px;
	display: flex;
	max-width: 280px;
	width: 100%;
	justify-content:space-between;
	column-gap:50px;
	row-gap: 30px;
	flex-wrap: wrap;
	
}

.items{
	cursor: pointer;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	/* identical to box height, or 171% */

	text-transform: capitalize;

	color: #FFFFFF;
	
	position: relative;
}

.items::before{
	content:'';
	position: absolute;
	bottom:-2px;
	left: 0;
	height: 2px;
	border-radius: 1px;
	width: 0%;
	background:#1669B4;
	transition: all 0.3s;
}

.items:hover::before{
	width:100%;
}
@media(max-width:1060px){
	.about_container{
		justify-content: center;
	}
	.about_me{
		
		max-width:80%;
	}

	.technologies_items{
		margin-bottom: 50px;
		
	}
	
}

.about_img img{
	background: url(image.png);
	border-radius: 40px;
	width:100%;
	
}



/* /////////////////////////////// */

.Experience{
	padding-top:74px ;
	padding-bottom: 138px;
	display: flex;
	justify-content: center;
	background: #1D1E22;
	transform: translateY(150px);
	opacity:0;
	transition:all 1s;
}

.Experience.active{
	transform: translateY(0px);
	opacity:1;

}

.experience_container{
	
	max-width:1200px;
	width:100%;
	display:flex;
	justify-content: center;
	gap: 78px;
	flex-wrap: wrap;
	
}

.experience_moduls{
	max-width: 561px;
	width: 100%;
	cursor: pointer;
	transition: all 0.8s ease 0s;
}

.experience_moduls:hover{
	box-shadow: 0 0 40px white;
	border-radius:20px;
	padding: 10px;
}

.experiens_name{
	align-self:center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #FFFFFF;
}

.experience_all_items{
	margin-top: 45px;
}

.experience_items_descriptons{
	display: flex;
	justify-content:space-between;
}

.experience_items_title{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 10px;
}



.experience_items_descriptons{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	text-transform: capitalize;
	color: #FFFFFF;

}



.line_items{
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid rgba(255, 255, 255, 0.05);
}


/* /////////////////////////////// */

.skills{
	display: flex;
	justify-content: center;
	background: #19191D;

	
}

.skills_container{
	max-width:1200px;
	width:100%;
	margin: 60px 0;
	padding: 0 15px;
	box-sizing:content-box;
	
}

@media (max-width:1230px) {
	.my_skils_head{
		text-align: center;
	}
	
}


.my_skils_head{
	margin-bottom: 31px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 45px;
	line-height: 54px;
	color: #FFFFFF;
}

.my_skills_container{
	display: flex;
	flex-direction:row;
	justify-content: center;
	gap:40px;
	flex-wrap: wrap;
}

.my_skils_item{
	width:100%;
	max-width:373px;;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
	transform:translateY(100px);
	opacity:0;
	transition:all 1s;
	
}

.my_skils_item.active{
	transform:translateY(0px);
	opacity:1;
}

.my_skils_item:nth-child(2).active{
	transform:translateY(0px);
	opacity:1;
	transition-delay: 0.25s;
}

.my_skils_item:nth-child(3).active{
	transform:translateY(0px);
	opacity:1;
	transition-delay: 0.5s;
}

.my_skils_item:hover .my_skills_info{
	
	transform:translateY(-10px)
}

.my_skills_info{
	
	transition-duration:0.6s;
	max-width: 345px;
	width:100%;
	margin-left: 20px;
	
}





.rectangle{
	width: 8px;
height: 222px;

background: #1669B4;
border-radius: 30px;
}

.title_text{
	width: 243px;


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 24px;
/* identical to box height, or 109% */


color: #FFFFFF;
}

.main_text{
	margin-top: 5px;
	font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


color: #FFFFFF;
}

/* /////////////////////////////// */


.project{
	display: flex;
	justify-content: center;
	padding-top: 97px;
	background: #1D1E22;
	padding-bottom: 130px;

}

.project_container{
	display: flex;
	max-width: 1200px;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	box-sizing:content-box;
	padding: 0 15px;
}
@media (max-width:1250px) {
	.project_items{
		justify-content:center;
	}
	
	
}

@media (max-width:830px) {
	.project_items img{
		margin-top: 15px;
	}
	
	
	
}


.project_head{
	font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 52px;
line-height: 53px;
/* identical to box height, or 102% */

text-align: center;

color: #FFFFFF;
margin-bottom: 47px;
}

.project_head_orange{
	color: #FF8E5E;
}

.project_items{
	display:flex;
	flex-wrap: wrap;
	
}

.project_colum{
	display: flex;
	flex-direction: column;
	
}

.project_items img{
	cursor: pointer;
	filter: grayscale(1);
	max-width:429px;
	width: 100%;
	transition: all 0.8s ease 0s;
}

.project_items img:hover{
	filter: grayscale(0);
}





/* /////////////////////////////// */


footer{
	font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

text-align: center;
padding-top: 52px;
padding-bottom: 40px;

color: rgba(255, 255, 255, 0.3);
background: #19191D;
}


/* SCROLL */

body::-webkit-scrollbar {
	width: 10px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
	background: #19191D;        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
	background-color: #FFFFFF;    /* цвет плашки */
	border-radius: 20px;       /* закругления плашки */
	border: 3px solid #19191D;  /* padding вокруг плашки */
  }

  /* FOX */
  body {
	scrollbar-width: thin;          /* "auto" или "thin"  */
	scrollbar-color: #FFFFFF #19191D;   /* плашка скролла и дорожка */ 
  }